@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #7a9083;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font14 {
  font-size: 14px;
}
.font18 {
  font-size: 18px;
}
.line-through {
  text-decoration: line-through;
}
.margin-left {
  margin-left: 10px;
}
/* todo related styling */
.todo-wrapper {
  background: linear-gradient(135deg, #fedeb5 0%, #416074 100%);
  width: 360px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.35);
  margin-top: 2%;
  margin-bottom: 2%;
}
.todo-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  max-width: 360px;
}
.todo-filters button {
  color: white;
  font-weight: 800;
  width: 100%;
  border: 0 none;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: 0;
}
.todo-filters button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.add-button {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.add-button button {
  font-size: 20px;
  background-color: #fedeb5;
  color: #6e695e;
  outline: 0;
  padding: 10px 13px;
  border: 0;
  border-radius: 50px;
}

.todo-list-container {
  max-height: 480px;
  overflow: auto;
}
.todo-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.todo-list-container ul li {
  height: 60px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}
.todo-list-container ul li button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  border: 0 none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}
.todo-list-container li div p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}
.todo-list-container .remove-todo {
  margin-left: auto;
}
.todo-filters .btn-active {
  background-color: rgba(0, 0, 0, 0.5);
}
.todo-text-container {
  min-width: 245px;
  cursor: pointer;
}

/* modal styling */

.modal {
  display: block;
  text-align: center;
  width: 340px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  margin-left: 10px;
  top: 100px;
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.modal-closed {
  display: none;
}
.modal-container {
  background: linear-gradient(135deg, #fedeb5 0%, #416074 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.open-button {
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgreen;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 21px;
}

.modal .input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #fedeb5;
  transition: 0.5s;
  outline: none;
}

.modal .input:focus {
  border: 2px solid #416074;
}

.modal-action-btn-container {
  margin-top: 10px;
}
.modal .modal-action-button {
  background-color: #fedeb5;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  outline: 0;
}

.modal .modal-action-button:hover {
  background-color: #f1f1f1;
  color: black;
}

.quick-add-box {
  display: flex;
  flex-direction: row;
}

.quick-add-box button {
  width: 20%;
  color: black;
  background-color: #fedeb5;
}

.quick-add-box input {
  width: 80%;
  padding: 10px 5px;
  color: black;
}
